
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Something something project</title>
        <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        {% block head %}
        {# Load other stylesheets and scripts using this block. #}
        {% endblock %}
    </head>
    <body>
        <h1>In Lieu of a Title</h1>
        {% block content %}
        {# Place the actual content of the page here #}
        {% endblock %}
    </body>
</html>
