
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Something something project</title>
        <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
        <script src="scripts/game.js"></script>
    </head>
    <body>
        <h1>CS 482 Final Project</h1>
        <hr>
        <div id="content">
            <button type="button" id="playButton">Play Game</button>
        </div>
    </body>
</html>
