
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Final Project</title>
        <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
        <script src="scripts/game.js"></script>
    </head>
    <body>
        <h1>CS 482 Final Project</h1>
        <hr>
        <div id="content">
            <button type="button" id="playButton">Play Game</button>
            <hr>
            <div id="about">
                <h2>About the Game</h2>
                <p>
                    You find yourself locked inside a dungeon. You must search the twisting passageways for the key to the exit.
                    But beware! Monsters roam the halls. Take care that you don't become their next meal.
                </p>
            </div>
            <div id="howTo">
                <h2>How to Play</h2>
                <p>
                    Move with WASD.
                </p>
                <p>
                    Your goal is to find the door.
                </p>
                <img src="/images/howtodoor.png" />
                <p>
                    But before you can go through the door, you must find the key to unlock it.
                </p>
                <img src="/images/howtokey.png" />
                <p>
                    Be sure not to get killed by the monsters.
                </p>
                <img src="/images/howtomonster.png" />
            </div>
        </div>
    </body>
</html>
